$primary-normal: rgb(0, 3, 51);
$primary-dark: rgb(0, 2, 29);
$primary-light: rgb(0, 6, 87);

$secondary-normal: rgb(8, 9, 17);
$secondary-dark: rgb(8, 8, 10);
$secondary-dark: rgb(42, 42, 44);

$white-normal: #fff;
$white-dark: #edeaef;
$white-light: #fbfeff;

$blue-normal:rgba(35, 139, 181, 1);
$blue-dark:rgb(19, 115, 153);
$blue-light:rgb(67, 164, 202);